/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullLogoContainer {
  position: absolute;
  padding: 2em 100px 4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.fullLogo {

}

.container {
  z-index: 1;
}
